.tooltip-container{
    position: relative;
    display: inline-block;
}

.tooltip{
    position: absolute;
    top: calc(-100% - 50px);
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    min-width: 300px;
}