.tip-calculator{
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.tip-calculator h1{
    margin-bottom: 30px;
}

.tip-calculator .input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.tip-calculator .input-container label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.tip-calculator .input-container input {
    flex: 2;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.tip-calculator button {
    padding: 12px 20px;
    background-color: #f3f800;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

.tip-calculator .tip-result-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tip-calculator .tip-result-container  p , .tip-calculator .error-message{
    font-size: 18px;
    font-weight: bolder;
}

.tip-calculator .error-message{
    margin-bottom: 30px;
}