
.file-upload-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.file-upload-container h1{
    margin-top: 30px;
    margin-bottom: 30px;
}

.file-upload-container .status{
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.file-upload-container .load{
    font-size: 20px;
    font-weight: bolder;
}